extends ./layout/index.pug 
block content 
    style. 
        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        p {
            margin: 0;
        }

        tr {
            margin: 0;
        }

        .letter {
            width: 21.59cm;
            height: 27.94cm
        }

        .label__container {
            border: 1px solid black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 10px;
            font-weight: bold;
            height: 1.8cm;
            line-height: 0.8rem;
            overflow: hidden;
            width: 2.5cm;
            word-break: normal;
            position: relative;
        }


        .lable__t1 {
            color: red;
            position: absolute;
            top: 5px;
            left: 3px;
        }

        .lable__t2 {
            position: absolute;
            top: 5px;
            right: 3px;
        }

        .label__model {
            font-size: 12px;
            margin-left: 3px;
            margin-right: 3px;
        }

        .label__quality {
            font-weight: normal;
            font-size: 8px;
            font-style: italic;
        }

    - var n = 0;    
    .letter 
        table
            each i in labels
                tr
                    while n < i.quantity
                        td
                            .label__container  
                                .mb-4
                                    p.lable__t1 #{i.labelData.lote}
                                    p.lable__t2 #{i.labelData.brand }
                                p.label__model.text-center.mb-1 #{i.labelData.model}
                                p.label__quality.text-center
                                    case i.labelData.quality1
                                        when 'GOLDEN'
                                                span(style="color: GOLD") #{i.labelData.quality1} - 
                                        when 'WHITE'
                                                span(style="color: GRAY") #{i.labelData.quality1} - 
                                        when 'BLACK'
                                                span(style="color: BLACK") #{i.labelData.quality1} - 
                                        when 'BLUE'
                                                span(style="color: BLUE") #{i.labelData.quality1} - 
                                        when 'PINK'
                                                span(style="color: PINK") #{i.labelData.quality1} - 
                                        when 'GREEN'
                                                span(style="color: GREEN") #{i.labelData.quality1} - 
                                    case i.labelData.quality2
                                        when 'OLED'
                                                span(style="color: RED") #{i.labelData.quality2} 
                                        when 'IN-CELL'
                                                span(style="color: GREEN") #{i.labelData.quality2} 
                                        when 'ORIGINAL'
                                                span(style="color: BLACK") #{i.labelData.quality2} 
                                        when 'COG'
                                                span(style="color: PURPLE") #{i.labelData.quality2}
                                        when 'COF'
                                                span(style="color: BLUE") #{i.labelData.quality2}
                                - n++
                    - n=0


